<div class="container"> 

	<h1>Battleships</h1>
	<div id="playercontrols">
		<form action="/attack" method="post">
			Coordinates: <input type="text" name="coordinates"></input> <input type="submit" value="Fire">
		</form>
	</div>

	<% if @error.nil? %>			
		Game state: <%= session['gamestate'] %><br>
		Current player number: <%= session['current_player_number'] + 1 %><br>
		Game ID: <%= session['gameid'] %>

		<script type="text/javascript">

			var WIDTH = 1000;
			var HEIGHT = 700;
			
			var bgcolor = 0xffffff;
			var stage = new PIXI.Stage(bgcolor);
			var renderer = PIXI.autoDetectRenderer(WIDTH, HEIGHT);
			document.body.appendChild(renderer.view);
			var loader = new PIXI.AssetLoader(['tiles.json']);

			var ship = isoTile('road.png');
			var water = isoTile('water.png');
			var tiles = [ship, water];

			var tileWidth = 50;
			var tileHeight = 50;

			function drawMap(rowdata, size, xOffset, yOffset) {
    
			    var tileType, x, y, isoX, isoY, idx;

			    console.log("Size " + size);

			    // Process rows first
			    for (var i = 1, iL = size; i < iL; i++) {
			        
			        var cols = rowdata[i];
			        console.log(cols);

			        for (var j = 0, jL = cols.length; j < jL; j++) {

			            x = j * tileWidth;
			            y = i * tileHeight;


			            // iso coordinate
			            isoX = x - y;
			            isoY = (x + y) / 2;

			            tileType = cols[j];

			            if (tileType != " ") {
                			console.log("Tile type [" + tileType + "]");

                			if (tileType == "V") {
								drawTile = tiles[0];                				
								drawTile(isoX + xOffset, isoY + yOffset);
                			}

							if (tileType == "H") {
								drawTile = tiles[0];                				
								drawTile(isoX + xOffset, isoY + yOffset);
                			}                			

			            } else {
			            	drawTile = tiles[1];                				
							drawTile(isoX + xOffset, isoY + yOffset);
			            }

			         }
			    }
			}


			function isoTile(filename) {

				console.log("filename " + filename);
			  return function(x, y) {
			    var tile = PIXI.Sprite.fromFrame(filename);
			    tile.position.x = x;
			    tile.position.y = y;

			    // bottom-left
			    tile.anchor.x = 0;
			    tile.anchor.y = 1;
			    stage.addChild(tile);
			  }
			}

			$(document).ready(function() {

				$.getJSON("/board/<%= session['gameid'] %>/player/<%= session['current_player_number'] %>", 

					function(board) {

						console.log(board);
						var y = -250;

						var size = board["size"] + 1;
						var rowdata = board["rows"];

						loader.onComplete = start;
						loader.load();

						function start() {

						  drawMap(rowdata, size, WIDTH / 2, tileHeight * 1.5);

						  function animate() {
						    requestAnimFrame(animate);
						    renderer.render(stage);
						  }
						  requestAnimFrame(animate);
						}

					}
				);
			});

		</script>

	<% end %>

</div>